<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-8ORRJSS\NAME;Initial Catalog=Library;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DB_LibraryEntities" connectionString="metadata=res://*/DB_Library_Diagram.csdl|res://*/DB_Library_Diagram.ssdl|res://*/DB_Library_Diagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8ORRJSS\NAME;initial catalog=Library;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8ORRJSS\NAME;initial catalog=Library;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LibraryEntities" connectionString="metadata=res://*/Models.Diagram_Library_DB.csdl|res://*/Models.Diagram_Library_DB.ssdl|res://*/Models.Diagram_Library_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8ORRJSS\NAME;initial catalog=Library;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DiagramContainer" connectionString="metadata=res://*/Models.Diagram.csdl|res://*/Models.Diagram.ssdl|res://*/Models.Diagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8ORRJSS\NAME;initial catalog=Library;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>